
@font-face {
	font-family: Kalinga;
	src: url(kalinga-font.woff);
}

body{
	background-color: #fff;
}

/*MENU*/

.navbar {
	margin-bottom: 0px;
}

.no-pad{
	padding-left: 0;
	padding-right:0;
}

.navbar-default {
	background-color: transparent;
	border: hidden;
	border-color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.dropdown-menu{
	background-color: transparent;
}

.dropdown-menu li > a{
	color:#000;
}

table tr{
    text-align: center;
}

.opacity-white{
	background-color: #fff;
	position: absolute;
	opacity: .5;
	height: 100%;
	width: 100%;
	z-index: -1;
	margin-top: -5px;
}

img.logo{
	height:auto;
	margin-top: -10px;
	
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover{
	color:#fff;
}
/*MENU*/

/*INDEX*/	
	
	html,body{
		height:100%;
	}
	div.index-container{
		padding-left: 0;
		padding-right: 0;
		min-height: 100% !important;
		min-width: 100% !important;
		background-image: url(../img/principal2014.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top center;
	}

	div.language-menu{
		height:30px;
		position: absolute;
		bottom:0;
		background:transparent;
		width: 100%;
	}

	div.white-background{
		height:100%;
		width: 100%;
		position:absolute;
		background-color: #fff;
		opacity: .7;
	}

	.lang-menu-ul{
		list-style: none;
		position: absolute;
		top:4px;
		z-index: 2;
		right:15px;
		margin-bottom: 0px;
	}

	.lang-menu-ul li{
		display: inline-block;
	}

	.lang-menu-ul li > a{
		font-size: 14px;
		margin-right: 15px;
		font-family: Kalinga;
		color:#000;
	}

	.lang-menu-ul li > a:hover{

	}

/*INDEX*/

/*FORMS*/

form{
	background-color: #fff;
	border-radius: 5px;
}

label{
	color:#000;
}

.dropdown-menu{
	background-color: #fff;
}
/*FORMS*/
/*PUNTOS VENTA*/
.punto-venta{
	margin-top:15px;
}

.punto-venta p {
	color:#7f8083;
}
/*PUNTOS VENTA*/
/*COLECCION*/
.prenda{
	height:200px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	margin-top:15px;
	cursor: pointer;
}

.prenda a{
	display: block;
}

.prenda a:hover p{
	text-decoration: none;
}

.descripcion-container{
	background-color: transparent;
}

.descripcion-container span{
	color:#7f8083;
	font-size: 14px;
}

.name-price{
	color:#7f8083;
	font-size: 14px;
	padding-left: 10px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
	height:100%;
	width:100%;
}

.product-info{
	position: relative;
}

.product-info .floating{
	width: 100%;
	position: relative;
	margin-top: 150px;
}

.product-info p{
	font-size: 14px;
	margin-top: 0;
	font-family: Kalinga;
	color:#7f8083;
}

.product-info h3{
	color:#7f8083;
	margin-bottom: 0;
	padding-bottom: 0;
	font-family: Kalinga;
}

.product-info button{
	background-color: transparent;
	border:hidden;
	color:#7f8083;
	font-family: Kalinga;
	padding-left: 0;
	padding-right: 0;
	margin-left:15px;
	font-weight: 900;
}

span.currency{
	font-size: 14px;
}

/*COLECCION*/

/*CONTACTO*/

form{
	margin-top: 15px;
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

form > a{
	color:#000;
	text-align: left;
	margin-top: 10px;
	display: block;
}

#form-container{
	background-color: #d6d7d9;
	margin-top: 25px;
}

input[type="text"]{
	width: 100%;
	margin-bottom: 15px;
	color: #7f8083;
	padding-left: 10px;
}

textarea{
	width: 100%;
	font-family: Kalinga;
	border:hidden;
	resize:none;
	padding-left: 10px;
}

input[type="submit"], input[type="button"]{
	height: 40px;
	border-radius: 5px;
	border:hidden;
	margin-top: 10px;
	color:#fff;
	width: 100px;
	margin-bottom: 15px;
    margin-left:5px;
}
/*CONTACTO*/
/*CP Principal*/
 h1.saludo{
 	font-size: 24px;
 	color:#fff;
 }

 div.saludo{
 	 	width: 600px;
        height: 350px;
        background-color: transparent;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
 }
/*CP Principal*/
/*CP Coleccion*/
	table.table-content{
		width: 100%;
		margin-top:50px;
		color:#777;
		text-align: center;
	}

	table > tbody{
		margin-top: 20px;
		margin-bottom: 20px;
	}

	a.button{
		height:50px;
		width:150px;
		background-color:#7f8083 ;
		color:#fff;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		display: block;
		text-align: center;
	}

	a.button:hover{
		background-color:#000;
		text-decoration: none;
	}

	td {
	  padding-top:20px;
	  padding-bottom:20px;
	}

	th{
		text-align: center;
	}
/*CP Coleccion*/
/*LOGIN*/
div.log-in, div.register{
        width: 400px;
        height: 250px;
        background-color: transparent;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
        border-radius: 5px;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;

        background-color: #eeeeee;
}

div.register{
    height:300px;
}

div.log-in form, div.register form{
    background: #EEEEEE;
}

div.log-in form .input-group, div.register form .input-group{
    padding-bottom:15px;
}

div.register input[type="text"]{
    height:auto;
    font-size:inherit;
    padding-left:15px;
    font-family: Roboto;
}

p.login-header{
	color:#000;
	font-size: 20px;
	font-family:Kalinga;
	text-align: center;
	width: 100%; 
	padding-top:20px;
}
/*LOGIN*/

/*!
 * Start Bootstrap - SB Admin Bootstrap Admin Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #fff;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}